@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap" rel="stylesheet"');

body {
    font-family: 'Comic Neue', cursive;;
}

.calc-btn {
    background-color: silver;
    color: black;
    width: 25px;
    height: 45px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}
.calc-btn:hover {
    background-color: orange;
}

.row {
    display: table;
    table-layout: fixed;
    width: 200px;
}
.column {
    display: table-cell;
}

#calc-zero {
    width: 90.66666667px;
    border-radius: 0 0 0 7px;
}
#calc-clear {
    width: 98.66666667px;
}

#calc-display-val {
    height: 40px; color: white;
    text-align: right;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-top: 3px solid gray;
    font-size: 32px;
    background-color: #383838;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}
.calc-btn-operator {
    background-color: orange;
    color: white;
    font-size: 30px;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
#calc-equals {
    width: 40px;
    border-radius: 0 0 7px 0;
}
#calc-divide {
    width:40px;
    font-size: 50px;
}
#calc-percentage {
    width: 40px;
}
#calc-clear {
    width:40px;
}
#calc-negate {
    width: 40px;
}
#calc-zero {
    width: 82px;
}
#calc-decimal {
    width: 41px;
}